*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90F926;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 320px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 15px;
    padding: 10px;
    position: relative;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.card:hover{
    height: 400px;
    transition-delay: 0s;
}

.card .imgbox img{
    width: 85%;
    height: 250px;
    position: relative;
    top: 90px;
    margin: 0 26px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s ease-in-out 0.2s;
    /* transition-delay: 0.5s; */
}

.card:hover .imgbox img{
    top: -60px;
    scale: .75px;
    width: 70%;
    height: 230px;
    margin: 0 45px;
    /* transition-delay: 0.5s; */
} 

.content{
    text-align: center;
    position: relative;
    top: -47px;
    margin: 0 40px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 0s;
}

.card:hover .content{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
}

h2{
    font-size: 27px;
    margin-bottom: 4px;
}

p{
    font-size: 17px;
}